<div class="panel panel-primary" *ngIf='book'>
    <div class="panel-heading" style='font-size:large'>
        {{pageTitle + ': ' + book.bookTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">Title: </div>
                    <div class="col-md-6">{{book.bookTitle}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Language: </div>
                    <div class="col-md-6">{{book.language}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Author: </div>
                    <div class="col-md-6">{{book.author}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">ISBN: </div>
                    <div class="col-md-6">{{book.ISBN}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Published Date: </div>
                    <div class="col-md-6">{{book.datePublished|date:'MM/yyyy'}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Publisher: </div>
                    <div class="col-md-6">{{book.publisher}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Published Place: </div>
                    <div class="col-md-6">{{book.publishedPlace}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Price: </div>
                    <div class="col-md-6">{{book.price |currency:'USD':true:'1.2-2'}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Price: </div>
                    <div class="col-md-6">{{book.price |currency:'USD':true:'1.2-2'}}</div>
                </div>
                <div class='col-md-3'>5 Star Rating:</div>
                <div class='col-md-6'>
                    <ai-star [rating]='book.starRating' (ratingClicked)='onRatingClicked($event)'>

                    </ai-star>
                </div>

            </div>
            <div class='col-md-6'>
                <img class='center-block img-responsive' [style.width.px]='200' [style.margin.px]='2' [src]='book.imageUrl' [title]='book.bookTitle'>
            </div>

        </div>

    </div>




    <div class="panel-footer">
        <a class="btn btn-default" (click)='onBack()' style="width:80px">

            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
    </div>


</div>