<div class="panel panel-primary">
    <div class="panel-heading">
        <h1> {{pageTitle}}</h1>
    </div>

    <!--Filter the Boooks-->
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter By:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]='listFilter'>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3> Filter By: {{listFilter}}</h3>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table" *ngIf=' books && books.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary ' (click)='toggleImage() '>
                                {{showImage ? 'Hide ' : 'Show '}} Image
                            </button>
                        </th>
                        <th>Book Title</th>
                        <th>Language</th>
                        <th>Author</th>
                        <th>ISBN</th>
                        <th>Date of Published</th>
                        <th>Publisher</th>
                        <th>Published Location</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let book of books | bookFilter:listFilter'>
                        <td>
                            <img *ngIf='showImage ' [src]='book.imageUrl' [title]='book.bookTitle' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
                        </td>
                        <td>
                            <a [routerLink]="['/book', book.bookId]"> {{book.bookTitle}}</a>
                        </td>
                        <td>{{book.language}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.ISBN}}</td>
                        <td>{{book.datePublished|date:'MM/yyyy'}}</td>
                        <td>{{book.publisher}}</td>
                        <td>{{book.publishedPlace}}</td>
                        <td>{{book.price |currency:'USD':true:'1.2-2'}}</td>
                        <td>
                            <ai-star [rating]='book.starRating' (ratingClicked)='onRatingClicked($event)'>

                            </ai-star>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>